<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.desa.desakampunganyar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/newicon_banyuwangi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PlayVideoActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MappingActivity"
            android:label="@string/title_activity_mapping"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".peternakanRejopuroActivity" />
        <activity android:name=".pertanianRejopuroActivity" />
        <activity android:name=".pariwisataRejopuroActivity" />
        <activity android:name=".umkmRejopuroActivity" />
        <activity android:name=".perkebunanPanggangActivity" />
        <activity android:name=".pertanianPanggangActivity" />
        <activity android:name=".umkmPanggangActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".wisataKalibendoActivity" />
        <activity android:name=".umkmKalibendoActivity" />
        <activity android:name=".peternakanKopencungkingActivity" />
        <activity android:name=".perkebunanKopencungkingActivity" />
        <activity android:name=".pertanianKopencungkingActivity" />
        <activity android:name=".umkmKopencungkingActivity" />
        <activity android:name=".wisataKrajanActivity" />
        <activity android:name=".umkmKrajanActivity" />
        <activity
            android:name=".PejopuroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PanggangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KalibendoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KopencukingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KrajanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PanelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

</manifest>